.blog1 {
  color: #1a1a1a;
}
.our-blog {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 59px;
  font-weight: 900;
  font-family: inherit;
}
.our-blog-wrapper,
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.our-blog-wrapper {
  align-self: stretch;
}
.title {
  width: 600px;
  max-width: 100%;
}
.image-icon {
  align-self: stretch;
  height: 280px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.are-hand-coded {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.learn-the-differences {
  align-self: stretch;
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
  color: var(--color-gray-200);
}
.main-content {
  align-self: stretch;
  border-bottom: 2px solid var(--shades-dark-10);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-2xl);
  gap: var(--gap-xs);
}
/* .icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
} */
.iconwrapper {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text {
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 120%;
  display: inline-block;
  font-family: var(--body-regular);
  color: var(--main-white);
  text-align: center;
  min-width: 89px;
}
.right-arrow {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
/* .primary-ctaprimary {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg-5) var(--padding-29xl);
  background-color: var(--color-darkslateblue-200);
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
} */
.content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl);
  gap: var(--gap-5xl);
}
.div,
.image-icon1 {
  max-width: 100%;
  overflow: hidden;
}
.div {
  box-shadow: 0 4px 120px rgba(0, 0, 0, 0.12);
  border-radius: var(--br-base);
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.image-icon1 {
  align-self: stretch;
  height: 280px;
  flex-shrink: 0;
  object-fit: cover;
}
.how-to-add,
.learn-how-i {
  align-self: stretch;
  position: relative;
}
.how-to-add {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.learn-how-i {
  font-size: var(--body-regular-size);
  line-height: 150%;
  color: var(--color-gray-200);
}
.main-content1 {
  align-self: stretch;
  border-bottom: 2px solid var(--shades-dark-10);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-2xl);
  gap: var(--gap-xs);
}
/* .icon1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
} */
.iconwrapper1 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text1 {
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 120%;
  display: inline-block;
  font-family: var(--body-regular);
  color: var(--main-white);
  text-align: center;
  min-width: 89px;
}
.right-arrow1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
/* .primary-ctaprimary1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg-5) var(--padding-29xl);
  background-color: var(--color-darkslateblue-200);
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
} */
.content1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl);
  gap: var(--gap-5xl);
}
.div1,
.image-icon2 {
  max-width: 100%;
  overflow: hidden;
}
.div1 {
  border-radius: var(--br-base);
  background-color: var(--main-white);
  border: 1px solid var(--shades-dark-10);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.image-icon2 {
  align-self: stretch;
  height: 280px;
  flex-shrink: 0;
  object-fit: cover;
}
.how-to-build,
.i-talk-about {
  align-self: stretch;
  position: relative;
}
.how-to-build {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.i-talk-about {
  font-size: var(--body-regular-size);
  line-height: 150%;
  color: var(--color-gray-200);
}
.main-content2 {
  align-self: stretch;
  border-bottom: 2px solid var(--shades-dark-10);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-2xl);
  gap: var(--gap-xs);
}
.icon2 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconwrapper2 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text2 {
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 120%;
  display: inline-block;
  font-family: var(--body-regular);
  color: var(--main-white);
  text-align: center;
  min-width: 89px;
}
.right-arrow2 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
/* .primary-ctaprimary2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg-5) var(--padding-29xl);
  background-color: var(--color-darkslateblue-200);
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
} */
.content2,
.div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content2 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-13xl);
  gap: var(--gap-5xl);
}
.div2 {
  border-radius: var(--br-base);
  background-color: var(--main-white);
  border: 1px solid var(--shades-dark-10);
  box-sizing: border-box;
  overflow: hidden;
  justify-content: center;
  max-width: 100%;
}
.cards,
.ourblog {
  align-items: center;
  font-family: var(--body-regular);
}
.cards {
  width: 1280px;
  display: grid;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  grid-template-columns: repeat(3, minmax(310px, 1fr));
  text-align: left;
  font-size: var(--desktop-h3-size);
  color: var(--color-darkslateblue-200);
}
.ourblog {
  width: 100%;
  position: relative;
  background-color: #f7f7f7;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-81xl) var(--padding-xl);
  box-sizing: border-box;
  gap: 64px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 49px;
  color: var(--color-darkslateblue-100);
}
@media screen and (max-width: 1000px) {
  .cards {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(310px, 537px));
  }
}
@media screen and (max-width: 975px) {
  .our-blog {
    font-size: 39px;
    line-height: 47px;
  }
}
@media screen and (max-width: 725px) {
  .cards {
    grid-template-columns: minmax(310px, 1fr);
  }
  .ourblog {
    gap: 32px;
  }
}
@media screen and (max-width: 450px) {
  .our-blog {
    font-size: 29px;
    line-height: 35px;
  }
  .are-hand-coded,
  .how-to-add,
  .how-to-build {
    font-size: var(--tablet-h3-size);
    line-height: 24px;
  }
  .ourblog {
    gap: var(--gap-base);
  }
}
