.vector-icon {
  height: 9px;
  width: 12px;
}
.min-up-front,
.vector-icon {
  position: relative;
}
.vector-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.vector-icon1 {
  height: 9px;
  width: 12px;
  position: relative;
}
.custom-designed {
  position: relative;
  display: inline-block;
  min-width: 111px;
}
.unlimited-revisions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.vector-icon2 {
  height: 9px;
  width: 12px;
}
.custom-coded-shopify,
.vector-icon2 {
  position: relative;
}
.shopify-integration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.vector-icon3 {
  height: 9px;
  width: 12px;
  position: relative;
}
.easy-to-edit {
  position: relative;
  display: inline-block;
  min-width: 73px;
}
.easy-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame-parent1,
.frame-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  gap: var(--gap-base);
}
.frame-wrapper1 {
  align-self: stretch;
}
.get-started {
  width: 115px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 115px;
}
.get-started-wrapper {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-darkslateblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  white-space: nowrap;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-button,
.frame-container,
.frame-div {
  display: flex;
  align-items: center;
}
.frame-div {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.frame-container {
  position: absolute;
  top: 120px;
  left: 0;
  box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.17);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-81xl) var(--padding-37xl) var(--padding-29xl) 55px;
  box-sizing: border-box;
}
.e-commerce {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: inherit;
  text-align: left;
}
.starting-at {
  width: 75px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 75px;
}
.starting-at-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 32px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.k {
  position: relative;
  line-height: 120%;
  display: inline-block;
  min-width: 58px;
}
.e-commerce-parent,
.price-value {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.price-value {
  flex-direction: row;
  padding: 0 40px;
  font-size: var(--font-size-13xl);
}
.e-commerce-parent {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.frame-wrapper2 {
  position: absolute;
  top: 0;
  left: 56.3px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  width: 302px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
  z-index: 1;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.frame-group {
  margin-left: -0.3px;
  height: 478px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  max-width: 100%;
}
.frame-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.2px 0 0.1px;
  box-sizing: border-box;
  min-width: 310px;
  max-width: 100%;
}
.vector-icon4 {
  height: 9px;
  width: 12px;
  position: relative;
}
.unlimited-edits {
  position: relative;
  display: inline-block;
  min-width: 94px;
}
.hosting-formats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.vector-icon5 {
  height: 9px;
  width: 12px;
  position: relative;
}
.includes-hosting {
  position: relative;
  display: inline-block;
  min-width: 105px;
}
.hosting-formats1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.vector-icon6 {
  height: 9px;
  width: 12px;
}
.customer-service,
.vector-icon6 {
  position: relative;
}
.customer-ready {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.vector-icon7 {
  height: 9px;
  width: 12px;
  position: relative;
}
.lifetime-updates {
  position: relative;
  display: inline-block;
  min-width: 106px;
}
.updates-subscription {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame-wrapper4,
.hosting-formats-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hosting-formats-parent {
  gap: var(--gap-base);
}
.frame-wrapper4 {
  align-self: stretch;
}
.get-started1 {
  width: 115px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 115px;
}
.get-started-container {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-darkslateblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  white-space: nowrap;
}
.frame-parent2,
.frame-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
}
.frame-parent2 {
  flex: 1;
  gap: var(--gap-29xl);
}
.frame-wrapper3 {
  position: absolute;
  top: 123.2px;
  left: 0;
  box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.17);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-81xl) var(--padding-37xl) var(--padding-29xl);
  box-sizing: border-box;
}
.pages,
.standard {
  position: relative;
  display: inline-block;
}
.standard {
  text-decoration: none;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: inherit;
  text-align: left;
  min-width: 109px;
}
.pages {
  font-weight: 500;
  min-width: 47px;
}
.pages-included {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 31px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.mo1 {
  font-size: 15px;
}
.mo {
  position: relative;
  line-height: 120%;
  display: inline-block;
  min-width: 103px;
  white-space: nowrap;
}
.monthly-price {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 3px;
  font-size: var(--font-size-13xl);
}
.frame-wrapper6,
.monthly-price,
.standard-parent {
  display: flex;
  align-items: flex-start;
}
.standard-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-wrapper6 {
  position: absolute;
  top: 0;
  left: 55.7px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  width: 302px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-2xl-5) var(--padding-xl);
  box-sizing: border-box;
  z-index: 1;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.group-div {
  height: 481.3px;
  flex: 1;
  position: relative;
  min-width: 310px;
  max-width: 100%;
}
.vector-icon8 {
  height: 9px;
  width: 12px;
  position: relative;
}
.revisions {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.vector-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.vector-icon9 {
  height: 9px;
  width: 12px;
  position: relative;
}
.all-file-formats {
  position: relative;
  display: inline-block;
  min-width: 97px;
}
.vector-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.vector-icon10 {
  height: 9px;
  width: 12px;
  position: relative;
}
.ready-to-use {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.vector-parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.vector-icon11 {
  height: 9px;
  width: 12px;
}
.free-w-subscription,
.vector-icon11 {
  position: relative;
}
.vector-parent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame-parent5,
.frame-wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent5 {
  gap: var(--gap-base);
}
.frame-wrapper8 {
  align-self: stretch;
}
.get-started2 {
  width: 115px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 115px;
}
.get-started-frame {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-darkslateblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  white-space: nowrap;
}
.frame-parent4,
.frame-wrapper9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
}
.frame-parent4 {
  flex: 1;
  gap: var(--gap-29xl);
}
.frame-wrapper7 {
  position: absolute;
  top: 122.8px;
  left: 0;
  box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.17);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-81xl) var(--padding-37xl) var(--padding-29xl);
  box-sizing: border-box;
}
.logos-graphic {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: var(--font-poppins);
  text-align: left;
}
.included {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 60px;
}
.included-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.b {
  position: relative;
  line-height: 120%;
  display: inline-block;
  min-width: 37px;
  white-space: nowrap;
}
.wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-13xl);
}
.frame-wrapper10,
.logos-graphic-design-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logos-graphic-design-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.frame-wrapper10 {
  position: absolute;
  top: 0;
  left: 55.3px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  width: 302px;
  flex-direction: row;
  padding: var(--padding-2xl-5) var(--padding-xl);
  box-sizing: border-box;
  z-index: 1;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.frame-parent3 {
  height: 480.8px;
  flex: 1;
  position: relative;
  min-width: 310px;
  max-width: 100%;
}
.frame-parent,
.pricing {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent {
  width: 1280px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray);
  font-family: var(--font-roboto);
}
.pricing {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  justify-content: center;
  padding: 99.9px var(--padding-xl) 99.8px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .b,
  .k {
    font-size: var(--font-size-7xl);
    line-height: 31px;
  }
}
@media screen and (max-width: 675px) {
  .pricing {
    gap: 32px;
  }
}
@media screen and (max-width: 450px) {
  .frame-div {
    gap: var(--gap-5xl);
  }
  .frame-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .e-commerce {
    font-size: var(--font-size-base);
  }
  .k {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .frame-parent2 {
    gap: var(--gap-5xl);
  }
  .frame-wrapper3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .standard {
    font-size: var(--font-size-base);
  }
  .frame-parent4 {
    gap: var(--gap-5xl);
  }
  .frame-wrapper7 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .logos-graphic {
    font-size: var(--font-size-base);
  }
  .b {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .pricing {
    gap: var(--gap-base);
  }
}
