.we-do {
  color: var(--main-dark);
}
.what-we-do-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 59px;
  font-weight: 900;
  font-family: inherit;
}
.section-heading-wrapper,
.section-heading1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-heading-wrapper {
  justify-content: flex-start;
}
.learn-more3 {
  text-decoration: underline;
}
.learn-more2 {
  color: inherit;
}
.we-specialize-in-container {
  align-self: stretch;
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
  color: var(--main-paragraph);
}
.section-heading {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-30xl);
  color: #0e4da1;
  font-family: var(--body-regular);
}
.layer-icon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon5 {
  width: 88px;
  height: 88px;
  margin: 0 !important;
  position: absolute;
  top: -46px;
  left: calc(50% - 45.65px);
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslateblue-100);
  border: 2px solid var(--main-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-3xl);
}
.full-development {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.blanket-term-for {
  align-self: stretch;
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
  color: var(--main-paragraph);
}
.content3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.upper-right-arrow {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.card-grid,
.upper-right-arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.upper-right-arrow-wrapper {
  width: 64px;
  height: 64px;
  border-radius: var(--br-45xl);
  border: 1px solid var(--color-darkslateblue-100);
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-lgi);
}
.card-grid {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--color-gainsboro-100);
  flex-direction: column;
  padding: 0 var(--padding-21xl) var(--padding-21xl);
  position: relative;
  gap: var(--gap-13xl);
  min-width: 310px;
  min-height: 330px;
  max-width: 100%;
}
.clapper-board {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon6 {
  width: 88px;
  height: 88px;
  margin: 0 !important;
  position: absolute;
  top: -46px;
  left: calc(50% - 45.65px);
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslateblue-100);
  border: 2px solid var(--main-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-3xl);
}
.blanket-term-for1,
.media-strategy {
  align-self: stretch;
  position: relative;
}
.media-strategy {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.blanket-term-for1 {
  font-size: var(--body-regular-size);
  line-height: 150%;
  color: var(--main-paragraph);
}
.content4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.upper-right-arrow1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.card-grid1,
.upper-right-arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.upper-right-arrow-container {
  width: 64px;
  height: 64px;
  border-radius: var(--br-45xl);
  border: 1px solid var(--color-darkslateblue-100);
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-lgi);
}
.card-grid1 {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--color-gainsboro-100);
  flex-direction: column;
  padding: 0 var(--padding-21xl) var(--padding-21xl);
  position: relative;
  gap: var(--gap-13xl);
  min-width: 310px;
  min-height: 330px;
  max-width: 100%;
}
.megaphone-icon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon7 {
  width: 88px;
  height: 88px;
  margin: 0 !important;
  position: absolute;
  top: -46px;
  left: calc(50% - 45.65px);
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslateblue-100);
  border: 2px solid var(--main-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-3xl);
}
.effective-marketing {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.blanket-term-for2 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 150%;
  color: var(--main-paragraph);
}
.content5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.upper-right-arrow2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.card-grid2,
.upper-right-arrow-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.upper-right-arrow-frame {
  width: 64px;
  height: 64px;
  border-radius: var(--br-45xl);
  border: 1px solid var(--color-darkslateblue-100);
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-lgi);
}
.card-grid2 {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--color-gainsboro-100);
  flex-direction: column;
  padding: 0 var(--padding-21xl) var(--padding-21xl);
  position: relative;
  gap: var(--gap-13xl);
  min-width: 310px;
  min-height: 330px;
  max-width: 100%;
}
.service-cards,
.services,
.top-cards {
  display: flex;
  justify-content: flex-start;
}
.top-cards {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 44px 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.service-cards,
.services {
  flex-direction: column;
}
.service-cards {
  width: 1280px;
  align-items: flex-start;
  max-width: 100%;
  text-align: center;
  font-size: var(--desktop-h3-size);
  color: var(--main-dark);
  font-family: var(--body-regular);
}
.services {
  width: 100%;
  position: relative;
  background-color: var(--main-white-stitch);
  align-items: center;
  padding: var(--padding-81xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-45xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1000px) {
  .service-cards {
    gap: var(--gap-xl);
  }
  .services {
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 725px) {
  .what-we-do-container {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .full-development {
    font-size: var(--tablet-h3-size);
    line-height: 24px;
  }
  .card-grid {
    gap: var(--gap-base);
  }
  .media-strategy {
    font-size: var(--tablet-h3-size);
    line-height: 24px;
  }
  .card-grid1 {
    gap: var(--gap-base);
  }
  .effective-marketing {
    font-size: var(--tablet-h3-size);
    line-height: 24px;
  }
  .card-grid2 {
    gap: var(--gap-base);
  }
  .top-cards {
    padding-top: 29px;
    box-sizing: border-box;
  }
  .services {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .what-we-do-container {
    font-size: var(--font-size-20xl);
    line-height: 47px;
  }
}
